.readforHeading{
    color: red;
    font-weight: 600;
    font-size: 2rem;
    border: 2px solid black;
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

